.nav_hw {
  background-color: grey;
  display: flex;
  font-size: 50px;
  justify-content: center;
  gap: 50px;
}
.hw2Content {
  display: flex;
  color: white;
  width: 100%;
  min-height: 500px;
  background-color: grey;
  justify-content: center;
  align-content: center;
  align-items: center;
  font-size: 50px;
}
